@import "../settings/breakpoints";

.footer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-s);
  width: 100%;
  padding: 100px var(--edge-space) var(--gap);
  margin-top: var(--gap);
  overflow: hidden;

  @media (--medium) {
    justify-content: flex-end;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0 -20% -500px;
    background-color: var(--grape);
    mix-blend-mode: multiply;
    transform: rotate(-2deg);
    transform-origin: top right;
  }
}

.footerSocials {
  position: relative;
  letter-spacing: 0.01em;
}

.socialsHeading {
  margin-bottom: 4px;
  color: var(--white);
  font-size: 24px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socialIcon {
  display: inline-block;
  padding: 8px;

  & svg {
    width: 30px;
    fill: currentColor;
  }
}

.socialLink {
  --link-color: var(--white);
  --link-color-hover: var(--white);
  --link-color-active: var(--grape);

  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid var(--white);
  /* background-color: var(--white); */
  font-size: 13px;
  transition: transform 150ms ease;

  &:hover {
    background-color: var(--grape);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px);
    background-color: var(--dark-grape);
  }
}
