.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap-s);
  width: 100%;
  padding: var(--edge-space);
}

.socials {
  list-style: none;
  padding: 0;
  margin: var(--gap) 0 0;
}

.socialLink {
  display: inline-block;
  padding: 8px;

  & svg {
    width: 30px;
    fill: currentColor;
  }
}
