.footer {
  /* position: fixed;
  bottom: 0;
  right: 0; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap-s);
  width: 100%;
  padding: var(--edge-space);

  & svg {
    height: 36px;
    fill: currentColor;
  }

  --link-color: var(--dark-grey);
}
