@import "../settings/breakpoints";

.header {
  mix-blend-mode: multiply;
}

.pageTitle {
  position: relative;
  margin-bottom: 0.09em;

  &::after {
    content: "";
    height: max(4px, 0.4vw);
    position: absolute;
    inset: calc(100% - 0.02em) 0.01vw auto;
    background-color: var(--primary-color);
    border-radius: 2px;
  }
}

.byline {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-byline);
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.1;
  z-index: 1;
}

.headerRow {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (--small-only) {
    flex-direction: column;
  }

  &::after {
    content: "";
    height: max(3px, 0.3vw);
    position: absolute;
    inset: calc(100% - 0.02em) 0.01vw auto;
    background-color: var(--primary-color);
    border-radius: 2px;
  }
}
