.nav {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-byline);
  font-weight: 700;
  letter-spacing: -0.02em;
}

.navList {
  display: flex;
  gap: 0.6em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  display: inline-block;

  & svg {
    fill: currentColor;
    height: 26px;
    width: auto;
  }

  &.current {
    --link-color: var(--dark-grape);
    --link-color-hover: var(--grey);
  }
}

.homeIcon {
  position: relative;
  top: 0.12em;
}
