.nav {
  font-size: var(--font-size-byline);
  font-weight: 700;
  letter-spacing: -0.02em;
}

.navList {
  display: flex;
  gap: 0.6em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  display: inline-block;
}

.homeIcon {
  fill: currentColor;
  height: 1em;
  width: 1em;
}
