.navSection {
  display: flex;
  align-items: center;
  --hamburger-color: var(--nearly-black);

  &.active {
    --hamburger-color: var(--warning-yellow);
  }
}

.navOverlay {
  position: fixed;
  background-color: rgba(20, 20, 20, 0.4);
  inset: 0;
  z-index: 1;
  transition: opacity 200ms;

  &:not(.active) {
    pointer-events: none;
    opacity: 0;
  }
}

.navToggleWrapper {
  position: relative;
  z-index: 2;
  padding-right: 10px;
}

.nav {
  position: fixed;
  inset: 0 auto 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "spacer"
    "main";
  min-width: max(40vw, 420px);
  max-width: 100%;
  background-color: var(--nearly-black);
  color: var(--white);
  z-index: 1;
  transition: transform 350ms ease;

  &:not(.active) {
    pointer-events: none;
    transform: translateX(-100%);
  }
}

.spacer {
  grid-area: spacer;
}

.navMain {
  grid-area: main;
}

.primaryNav {
  list-style: none;
}
