:root {
  --inter: "Inter", Helvetica, Helvetica Neue, sans-serif;
  --system: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --font-family-primary: var(--inter);
  --font-family-secondary: var(--inter);

  --heading-font-family: var(--inter);
  --body-font-family: var(--font-family-primary);

  --font-size-h1: 36px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
  --font-size-h4: 18px;
  --font-size-h5: 18px;
  --font-size-h6: 16px;

  --content-font-size: 20px;
}
