.container {
  max-width: var(--container-width);
}

.content {
  padding-left: var(--edge-space);
  padding-right: var(--edge-space);
}

.content-y {
  padding-top: var(--edge-space);
  padding-bottom: var(--edge-space);
}

.triptych {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacer);

  @media (--medium) {
    grid-template-columns: repeat(3, 1fr);
  }
}
