@import "modern-css-reset";

@import "./base/base";
@import "./base/buttons";
@import "./base/forms";
@import "./base/layout";

@import "./settings/breakpoints";
@import "./settings/colors";
@import "./settings/typography";
@import "./settings/units";

html,
body {
  font-family: var(--font-family-primary);
  background-color: var(--body-bg);
  color: var(--body-color);
}

body {
  background-image: url("/images/wall-minimal.jpeg");
  background-image: url("/images/wall-minimal.webp");
  background-size: cover;
}

.visually-hidden {
  /* stylelint-disable-next-line */
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

::selection {
  background-color: var(--pale-grape);
}
