@import "modern-css-reset";

@import "./base/layout";
@import "./base/typography";

@import "./settings/breakpoints";
@import "./settings/colors";
@import "./settings/typography";
@import "./settings/units";

html,
body {
  font-family: var(--font-family-primary);
  background-color: var(--body-bg);
  color: var(--body-color);
}

body {
  background-image: url("/images/wall-minimal.jpeg");
  background-image: url("/images/wall-minimal.webp");
  background-size: cover;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--heading-font-family);
  letter-spacing: -0.03em;
}

h1,
.h1,
.mega {
  font-size: var(--font-size-h1);
  line-height: 1;
}

h2,
.h2 {
  font-size: var(--font-size-h2);
}

h3,
.h3 {
  font-size: var(--font-size-h3);
}

h4,
.h4 {
  font-size: var(--font-size-h4);
}

h5,
.h5,
.content-heading {
  font-size: var(--font-size-h5);
}

h6,
.h6 {
  font-size: var(--font-size-h6);
}

.visually-hidden {
  /* stylelint-disable-next-line */
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}
