.titleLockup {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("public/images/paper-texture-01-sized.jpeg");
  /* background: linear-gradient(90deg, var(--coral) 50%, var(--body-bg) 50%); */
}

.megaTitle {
  --font-size-h1: 12vw;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
  mix-blend-mode: multiply;
}

.firstName,
.lastName {
  display: block;
  width: auto;
  position: relative;
  z-index: 1;
}

.firstName {
  padding-right: 0.1em;
  margin-right: 2.25em;
  color: var(--white);

  &::before {
    content: "";
    position: absolute;
    inset: auto 0 0 auto;
    background-color: var(--yellow);
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
}

.lastName {
  margin-top: -0.15em;
  letter-spacing: -0.06em;
  z-index: 2;
}

.byline {
  position: relative;
  margin-top: -0.25em;
  margin-left: 0.65em;
  padding: 0.2em;
  color: var(--yellow);
  font-size: 0.3em;
  letter-spacing: -0.02em;
  z-index: 1;

  /* &::before {
    content: "";
    position: absolute;
    inset: 0 auto 0 0;
    width: 100vw;
    height: 100%;
    background-color: var(--coral);
    z-index: -1;
  } */

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: var(--coral);
    z-index: -1;
  }
}
